

.main {
    margin: 2rem auto;
    width: 100%;
    padding: 1em 3em;
    color: var(--color-black-2);
    // background-color: var(--color-white);
    padding-bottom: 12rem;
    .welcome {
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: var(--color-purple);
        font-family: var(--font-cursive);
    }
    .checkboxes {
        display: flex;
        input {
            margin: .5em;
      
        }
    }
}