

.main {
    margin: 2rem auto;
    width: 100%;
    padding: 1em 4vw;
    color: var(--color-black-2);
    padding-bottom: 12rem;
    .welcome {
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: var(--color-purple);
        font-family: var(--font-cursive);
    }
    .checkboxes {
        display: flex;
        input {
            margin: .5em;
        }
    }
    .graph-small {
        display: none;
    }
    .graph-big {
        display: inline-block;
    }

    @media only screen and (max-width: 700px) {
        .graph-small {
            display: inline-block;
        }
        .graph-big {
            display: none;
        }
    }
}

