.side-bar {
    min-width: 250px;
    height: 90vh;
    background-color: rgb(156, 139, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3rem;
    h3 {
        padding: 1em;
    }
    .checkboxes {
        display: flex;
        flex-direction: column;
        input {
            margin: .5em;
        }
    }
}