.user-content {
    margin: 2rem auto;
    width: 100%;
    padding: 1em 3em;
    // border: 1px solid red;
    padding-bottom: 5rem;
    .welcome {
        font-size: 2em;
        text-transform: uppercase;
        
    }
}


